<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="pics">
    <div id="firstOccupy" class="columnDiv">
        <h3>First Guild Event: Occupy Durotar</h3>
        <img class="screencap" src="../../../ClassicCaptures/08082019Occupy-Durotar/Capture.JPG" />
        <img class="screencap" src="../../../ClassicCaptures/08082019Occupy-Durotar/Capture2.JPG" />
        <img class="screencap" src="../../../ClassicCaptures/08082019Occupy-Durotar/Capture3.JPG" />
        <img class="screencap" src="../../../ClassicCaptures/08082019Occupy-Durotar/Capture4.JPG" />
        <img class="screencap" src="../../../ClassicCaptures/08082019Occupy-Durotar/Capture55.JPG" />
        <img class="screencap" src="../../../ClassicCaptures/08082019Occupy-Durotar/Capture66.JPG" />
    </div>
    <div id="firstRFC" class="columnDiv">
        <h3>Ragefire Chasm Run</h3>
        <img class="screencap" src="../../../ClassicCaptures/RFC.JPG" />
        <img class="screencap" src="../../../ClassicCaptures/RFC2.JPG" />
    </div>
    <div class="columnDiv">
        <h3>First Tower of Althalaxx (step 5)</h3>
        <img class="screencap" src="../../../ClassicCaptures/firstTower.png">
    </div>
</div>
</ion-content>
