// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
/* Main Colors */
$AllianceBlue: #003265;
$AllianceBlueAccent: #2E5781;
$AllianceBlueTint: #5C7C9D;
$AllianceYellow: #B77912;
$AlliancePurple: #3B1F2B;
$AlliancePlatinum: #EEE5E9;
$AllianceGray: #7C7C7C;
:root {
  --background-color: $AllianceBlue;
  /** primary **/
  --ion-color-primary: $AllianceBlue;
  --ion-color-primary-rgb: 0, 50, 101;
  --ion-color-primary-contrast: $AlliancePlatinum;
  --ion-color-primary-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-primary-shade: $AllianceBlueAccent;
  --ion-color-primary-tint: $AllianceBlueTint;
  /** secondary **/
  --ion-color-secondary: $AllianceYellow;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: $AlliancePlatinum;
  --ion-color-secondary-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-secondary-shade:$AllianceYellow;
  --ion-color-secondary-tint: $AllianceYellow;

  /** tertiary **/
  --ion-color-tertiary: $AlliancePurple;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: $AlliancePlatinum;
  --ion-color-tertiary-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-tertiary-shade: $AlliancePurple;
  --ion-color-tertiary-tint: $AlliancePurple;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: $AlliancePlatinum;
  --ion-color-success-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: $AlliancePlatinum;
  --ion-color-warning-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: $AlliancePlatinum;
  --ion-color-danger-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: $AlliancePlatinum;
  --ion-color-dark-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: $AllianceGray;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: $AlliancePlatinum;
  --ion-color-medium-contrast-rgb: rgba(238, 229, 233, 1);
  --ion-color-medium-shade: $AllianceGray;
  --ion-color-medium-tint: $AllianceGray;

  /** light **/
  --ion-color-light: $AlliancePlatinum;
  --ion-color-light-rgb: rgba(238, 229, 233, 1);
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
//$colors: (
//        primary: $AllianceBlue,
//        secondary: $AllianceYellow
//)
