<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/AllianceLogo.png" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to &lt;Occupation&gt;!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We are a Classic WoW Alliance guild located on the Thalnos server.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://discord.gg/e2JPdew" target="_blank">
        <i slot="start" color="medium" class="fab fa-discord"></i>
        <ion-label>Discord Invite Link</ion-label>
      </ion-item>
      <ion-item href="https://us.forums.blizzard.com/en/wow/t/occupation-a-pvp-thalnos-weekend-raid-guild-recruiting/242997" target="_blank">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Recruitment Forum Post</ion-label>
      </ion-item>


      <!-- Template for later links needed on homepage-->
      <!-- <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item> -->
    </ion-list>
</ion-content>
